<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mezcode"
    android:versionCode="1"
    android:versionName="1.0" >

	<supports-screens 
	    android:largeScreens="true"
		android:normalScreens="true" 
		android:smallScreens="false"
		android:xlargeScreens="true"
		android:resizeable="true" android:anyDensity="true" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".WikiWidgetsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="*.wikipedia.org" android:scheme="http" />
				<data android:host="*.wikipedia.org" android:scheme="https" />
			</intent-filter>
        </activity>
                
<receiver android:name=".PicStackProvider" 
		    android:label="@string/photoStackTablet"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/pic_stack_info"  />
		</receiver>
		<service android:name=".PicStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

		<receiver android:name=".PicListProvider" 
		    android:label="@string/photoListTablet"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/pic_list_info"  />
		</receiver>
		<service android:name=".PicListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

		<receiver android:name=".FonFotoStackProvider" 
		    android:label="@string/photoStackFon"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/fon_foto_stack_info"  />
		</receiver>
		<service android:name=".FonFotoStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

		<receiver android:name=".FonFotoListProvider" 
		    android:label="@string/photoListFon"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/fon_foto_list_info"  />
		</receiver>
		<service android:name=".PicListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
				
<receiver android:name=".GeoStackProvider" 
		    android:label="@string/geoStackTablet"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" android:label="Stack of nearby articles"
	               android:resource="@xml/geo_stack_info"  />
		</receiver>
		<service android:name=".GeoStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
		
		<receiver android:name=".GeoListProvider" 
		    android:label="@string/geoListTablet"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/geo_list_info"  />
		</receiver>
		<service android:name=".GeoListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

		<receiver android:name=".FonGeoStackProvider" 
		    android:label="@string/geoStackFon"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/fon_geo_stack_info"  />
		</receiver>
		<service android:name=".FonGeoStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
				
		<receiver android:name=".FonGeoListProvider" 
            android:label="@string/geoListFon"
            android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/fon_geo_list_info"  />
		</receiver>
		<service android:name=".FonGeoListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
				
<receiver android:name=".FeatureStackProvider" 
		    android:label="@string/featureStackTablet"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/feature_stack_info"  />
		</receiver>
		<service android:name=".FeatureStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

		<receiver android:name=".FeatureListProvider" 
		    android:label="@string/featureListTablet"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" 
	               android:resource="@xml/feature_list_info"  />
		</receiver>
		<service android:name=".FeatureListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
				
		<receiver android:name=".FonFeatureStackProvider" 
		    android:label="@string/featureStackFon"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" android:label="Featured articles"
	               android:resource="@xml/fon_feature_stack_info"  />
		</receiver>
		<service android:name=".FonFeatureStackService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />		
				
        <receiver android:name=".FonFeatureListProvider" 
		    android:label="@string/featureListFon"
		    android:enabled="true">
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	   	 	<meta-data android:name="android.appwidget.provider" android:label="Featured articles"
	               android:resource="@xml/fon_feature_list_info"  />
		</receiver>
		<service android:name=".FonFeatureListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />	

				
    </application>

</manifest>